$main: #09848b;

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;
    li{
        padding: 0;
        margin:0;
    }
}
section {
    margin-top: 40px;
}
main p{
    margin: 0;
}
input, textarea{
    border: none;
    outline: none;
    padding: 20px;
}
.h1{
    display: block;
    color: $main;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
a{
    color: lighten($main, 10);
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.btn{
    background: #007bff;
    border: none;
    outline: none;
    min-width: 150px;
    display: block;
    padding: 20px;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition:all .2s ease-in-out;
    font-weight: 600;
    text-align: center;

}
a.btn{
    display: inline-block;
    width: auto;
    text-decoration: none;
}
.btn.btn-success{
    background: #28a745;
}
.btn:disabled, .btn[disabled]{
    background: gray;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);

}
.logo{
    display: block;
    max-width: 250px;
    img{
        width: 100%;
        height: auto;
    }
}
.phone-numbers a{
    display: block;
}
.head{
    padding: 5px 18px;
    display:flex;
    justify-content: space-between;
    .head-left{
        display: flex;
    }
    background: $main;
    nav{
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        li {
            a{
                text-decoration: none;
                font-weight: bold;
                color: #FFF;
                display: block;
                padding: 20px;
            }
        }
    }
    .phone-numbers{
        a{
            color: #FFF;
            line-height: 1.7;
        }
    }
}
#map{
    background: url("/img/loading.svg") no-repeat;
    background-position: center center;
}
.main-footer{
    text-align: center;
    color: #FFF;
    background: $main;
    padding-bottom: 20px;
    .footer-menu{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        ul{
            display: flex;
            font-size: 20px;
            justify-content: center;
            &:last-child li:last-child{
                a:after{
                    display: none;
                }
            }
            a{
                position: relative;
                display: block;
                padding: 20px;
                padding-left: 0;

                &:after{
                    margin-left: 20px;
                    content: "";
                    border-right: 1px solid #FFF;
                }

            }
        }
    }
    div{
        margin-bottom: 15px;
    }
    a{
        color: #FFF;
        text-decoration: none;
    }
}
.mobile-nav{
    display: none;
}
//.medium-zoom-image--opened{
//    transform: translateY(0) !important;
//}
