.container{
    max-width:1200px;
    margin: 0 auto;
    section.slider{
        height:560px;
        position: relative;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            background: $main;
            display: block;
        }
        .about{
            position: absolute;
            width: 100%;
            top:0;
            margin-top: 100px;
            color: #FFF;
            h1{
                font-weight: bold;
                text-align: center;
            }
        }
        .about-text{
            width: 60%;
            margin: 0 auto;
            text-shadow: 1px 1px #000;
            text-align: justify;
        }
        li, ul{
            height: 100%;
        }
        .glide__slides{
            position: relative;
            img{
                opacity: .5;
                position: relative;
                bottom: 0;
                display: block;
                object-fit: fill;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
    .buttons{
        margin-top: 24px;
        .btn{
            margin: 0 auto;
        }
    }
}
.service{
    margin-top: 20px;
    .service-in{
        display: flex;
        position: relative;
        img{
            max-width: 300px;
            height: auto;
        }
        .explain{
            margin-left: 20px ;
        }
    }
    .service-btn{
        position: absolute;
        bottom: 0;
        display: flex;
        margin-top: 20px;
        .btn{
            margin-right: 10px;
        }
    }
}
.contacts{
    .h1{
        margin: 20px 0;
    }
    .h1-white{
        color:#FFF;
        text-align: center;
        width: 100%;
    }
    .contacts-in{
        display: flex;
        background: $main;
    }
    .map, .form{
        width: 50%;
    }
    .form{
        padding: 20px;
    }
    .map{
        overflow: hidden;
        iframe{
            width: 100%;
        }
    }
    .inputs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cf-text{
        width: 100%;
        resize: none;

    }
    .contact-form{
        margin-bottom: 20px;
        border-radius: 4px;
        &:focus{
            box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.45);
        }
    }
    .cf-input{
        width: 49%;
    }
    .cf-button{
        margin: 0 auto;
    }
    .phone-email{
        color:#FFF;
        text-align: center;
        p{
            margin-bottom: 10px;
        }
        a{
            text-decoration: none;
            border-bottom: 1px dashed #FFF;
            color:#FFF;
        }
    }
}
.social{
    .social-in{
        max-width: 600px;
        padding: 40px;
        margin: 0 auto;
        text-align: center;
    }
    a{
        padding: 0 50px;
        text-decoration: none;
        font-size: 50px;
    }
}

.errors{
    color: #f40700;
    text-align: center;
}
