.login-card{
    margin: 0 auto;
    width:400px;
    margin-top: 200px;
    input[type="checkbox"]{
        width: auto;
    }
    input, button{
        max-width: 400px;
        display: block;
        width:100%;
        border: 1px solid $main;
    }
}
