@media only screen and (max-width: 1200px)  {
    .mobile-nav{
        display: block;
    }
    .head{
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        nav{
            width: 100%;
        }
    }
    .contacts{
        .contacts-in{
            flex-wrap: wrap;
            div{
                width: 100%;
            }
        }
    }
    .head-left{
        width: 100%;
        flex-wrap: wrap;
        ul{
            li{
                width: 100%;
            }
        }
    }
    .logo-wrp{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .open{
        .logo-wrp{
            .icon-menu{
                display: none;
            }
        }
    }
    .close{
        nav{
            display: none;
        }
        .phone-numbers{
            display: none;
        }
        .logo-wrp{
            .icon-close{
                display: none;
            }
        }
    }
    .mobile-nav{
        width: 60px;
        height: 60px;
        background: darken($main, 10);
        padding: 10px;
        box-sizing: border-box;
        span{
            color: #FFF;
            font-size: 40px;
        }
    }
    #head{
        width: 100%;
        position: fixed;
        top:0;
        z-index: 10;
    }
    .container{
        margin-top: 60px;
    }
    .logo{
        max-width: none;
        padding:0 25px ;
        box-sizing: border-box;
        width: calc(100% - 60px);
        text-align: center;
        display: flex;
        justify-content: center;
        img{
            width: auto;
            display: block;
            max-height: 60px;
        }
    }

    .phone-numbers{
        width: 100%;
        text-align: center;
    }
    .slider{
        margin-top: 0;
    }

}
@media only screen and (max-width: 768px)  {
    body{
        width: 100%;
    }
    .service{
        .service-btn{
            width: 100%;
            flex-direction: column;
            position: relative;

            .btn, a{
                display: block;
                padding: 10px;
                box-sizing: border-box;
                margin: 0;
                margin-top: 10px;
                width: 100%;
            }
        }

    }
    .service .service-in{
        flex-direction: column;
        img{
            width: 100%;
            max-width: none;
        }
        .explain{
            margin: 0;
        }
    }
    .slider{
        display: none ;
    }
    .container{
        padding: 0 20px;
    }
    .social .social-in{
        width: 100%;
        max-width: none;
        padding: 0;
        margin: 20px 0;
        a{
            padding: 0 10px;
        }
    }
    .footer-menu{
        display: none;
    }
    .main-footer{
        padding-top: 30px;
    }
    .contacts .cf-input{
        width: 100%;
    }
    .service-page{
        flex-direction: column;
        .glide2{
            width: 100%;
        }
    }
    .phone-numbers{
        border-top: 1px solid #FFF;
        padding: 15px 0;
    }
    .explain-in{
        margin: 0;
    }
    .service-in-btn{
        flex-direction: column;
        button{
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
        }
    }
}
