.service-page{
    display:flex;
}
.glide2{
    width:400px;
    height: 300px;
    position: relative;
    .glide__arrows{
        width: 100%;
        top: 50%;
        margin-top: -50%;
    }
    .glide__arrow--right{
        right: 5px;
    }
    .glide__arrow--left{
        left: 5px;
    }
    li, ul{
        //height: 100%;
        //width: 100%;
    }
    img{
        width: 400px;
    }
}
.service-in-btn{

    .btn{
        margin-right: 10px;
    }
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.glide__arrows{
  color: #FFF;
}
.glide__arrow{
    z-index: 0 !important;
}
.explain-in{
    margin-left: 20px;
}
