@charset "UTF-8";

html {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

section {
  margin-top: 40px;
}

main p {
  margin: 0;
}

input,
textarea {
  border: none;
  outline: none;
  padding: 20px;
}

.h1 {
  display: block;
  color: #09848b;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

a {
  color: #0cb1bb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  background: #007bff;
  border: none;
  outline: none;
  min-width: 150px;
  display: block;
  padding: 20px;
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  text-align: center;
}

a.btn {
  display: inline-block;
  width: auto;
  text-decoration: none;
}

.btn.btn-success {
  background: #28a745;
}

.btn:disabled,
.btn[disabled] {
  background: gray;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
}

.logo {
  display: block;
  max-width: 250px;
}

.logo img {
  width: 100%;
  height: auto;
}

.phone-numbers a {
  display: block;
}

.head {
  padding: 5px 18px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background: #09848b;
}

.head .head-left {
  display: -webkit-box;
  display: flex;
}

.head nav ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.head nav li a {
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  display: block;
  padding: 20px;
}

.head .phone-numbers a {
  color: #FFF;
  line-height: 1.7;
}

#map {
  background: url("/img/loading.svg") no-repeat;
  background-position: center center;
}

.main-footer {
  text-align: center;
  color: #FFF;
  background: #09848b;
  padding-bottom: 20px;
}

.main-footer .footer-menu {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main-footer .footer-menu ul {
  display: -webkit-box;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
          justify-content: center;
}

.main-footer .footer-menu ul:last-child li:last-child a:after {
  display: none;
}

.main-footer .footer-menu ul a {
  position: relative;
  display: block;
  padding: 20px;
  padding-left: 0;
}

.main-footer .footer-menu ul a:after {
  margin-left: 20px;
  content: "";
  border-right: 1px solid #FFF;
}

.main-footer div {
  margin-bottom: 15px;
}

.main-footer a {
  color: #FFF;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container section.slider {
  height: 560px;
  position: relative;
}

.container section.slider:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #09848b;
  display: block;
}

.container section.slider .about {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 100px;
  color: #FFF;
}

.container section.slider .about h1 {
  font-weight: bold;
  text-align: center;
}

.container section.slider .about-text {
  width: 60%;
  margin: 0 auto;
  text-shadow: 1px 1px #000;
  text-align: justify;
}

.container section.slider li,
.container section.slider ul {
  height: 100%;
}

.container section.slider .glide__slides {
  position: relative;
}

.container section.slider .glide__slides img {
  opacity: 0.5;
  position: relative;
  bottom: 0;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  vertical-align: middle;
  width: 100%;
}

.container .buttons {
  margin-top: 24px;
}

.container .buttons .btn {
  margin: 0 auto;
}

.service {
  margin-top: 20px;
}

.service .service-in {
  display: -webkit-box;
  display: flex;
  position: relative;
}

.service .service-in img {
  max-width: 300px;
  height: auto;
}

.service .service-in .explain {
  margin-left: 20px;
}

.service .service-btn {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
}

.service .service-btn .btn {
  margin-right: 10px;
}

.contacts .h1 {
  margin: 20px 0;
}

.contacts .h1-white {
  color: #FFF;
  text-align: center;
  width: 100%;
}

.contacts .contacts-in {
  display: -webkit-box;
  display: flex;
  background: #09848b;
}

.contacts .map,
.contacts .form {
  width: 50%;
}

.contacts .form {
  padding: 20px;
}

.contacts .map {
  overflow: hidden;
}

.contacts .map iframe {
  width: 100%;
}

.contacts .inputs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.contacts .cf-text {
  width: 100%;
  resize: none;
}

.contacts .contact-form {
  margin-bottom: 20px;
  border-radius: 4px;
}

.contacts .contact-form:focus {
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.45);
}

.contacts .cf-input {
  width: 49%;
}

.contacts .cf-button {
  margin: 0 auto;
}

.contacts .phone-email {
  color: #FFF;
  text-align: center;
}

.contacts .phone-email p {
  margin-bottom: 10px;
}

.contacts .phone-email a {
  text-decoration: none;
  border-bottom: 1px dashed #FFF;
  color: #FFF;
}

.social .social-in {
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.social a {
  padding: 0 50px;
  text-decoration: none;
  font-size: 50px;
}

.errors {
  color: #f40700;
  text-align: center;
}

.service-page {
  display: -webkit-box;
  display: flex;
}

.glide2 {
  width: 400px;
  height: 300px;
  position: relative;
}

.glide2 .glide__arrows {
  width: 100%;
  top: 50%;
  margin-top: -50%;
}

.glide2 .glide__arrow--right {
  right: 5px;
}

.glide2 .glide__arrow--left {
  left: 5px;
}

.glide2 img {
  width: 400px;
}

.service-in-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.service-in-btn .btn {
  margin-right: 10px;
}

.glide__arrows {
  color: #FFF;
}

.glide__arrow {
  z-index: 0 !important;
}

.explain-in {
  margin-left: 20px;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal__container {
  padding-bottom: 0;
}

.modal {
  z-index: 9999;
}

.modal form input,
.modal form textarea {
  width: 100%;
  border: 1px solid #09848b;
  padding: 5px;
  margin-bottom: 10px;
}

.modal form textarea {
  resize: none;
}

.modal .btn {
  margin: 0 auto;
}

.modal p {
  margin-bottom: 0;
  margin-top: 5px;
}

.modal .invisible:disabled {
  width: auto;
  border: none;
  font-style: italic;
  background: #FFF;
  color: rgba(0, 5, 11, 0.58);
  border-bottom: 1px dashed rgba(0, 5, 11, 0.7);
}

.modal .phone-numbers {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.phone-email {
  text-align: center;
}

#modal-success span.check {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 100px;
  color: #09848b;
}

.login-card {
  margin: 0 auto;
  width: 400px;
  margin-top: 200px;
}

.login-card input[type=checkbox] {
  width: auto;
}

.login-card input,
.login-card button {
  max-width: 400px;
  display: block;
  width: 100%;
  border: 1px solid #09848b;
}

@media only screen and (max-width: 1200px) {
  .mobile-nav {
    display: block;
  }

  .head {
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
  }

  .head nav {
    width: 100%;
  }

  .contacts .contacts-in {
    flex-wrap: wrap;
  }

  .contacts .contacts-in div {
    width: 100%;
  }

  .head-left {
    width: 100%;
    flex-wrap: wrap;
  }

  .head-left ul li {
    width: 100%;
  }

  .logo-wrp {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .open .logo-wrp .icon-menu {
    display: none;
  }

  .close nav {
    display: none;
  }

  .close .phone-numbers {
    display: none;
  }

  .close .logo-wrp .icon-close {
    display: none;
  }

  .mobile-nav {
    width: 60px;
    height: 60px;
    background: #06575b;
    padding: 10px;
    box-sizing: border-box;
  }

  .mobile-nav span {
    color: #FFF;
    font-size: 40px;
  }

  #head {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .container {
    margin-top: 60px;
  }

  .logo {
    max-width: none;
    padding: 0 25px;
    box-sizing: border-box;
    width: calc(100% - 60px);
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .logo img {
    width: auto;
    display: block;
    max-height: 60px;
  }

  .phone-numbers {
    width: 100%;
    text-align: center;
  }

  .slider {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .service .service-btn {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;
  }

  .service .service-btn .btn,
  .service .service-btn a {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }

  .service .service-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .service .service-in img {
    width: 100%;
    max-width: none;
  }

  .service .service-in .explain {
    margin: 0;
  }

  .slider {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  .social .social-in {
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 20px 0;
  }

  .social .social-in a {
    padding: 0 10px;
  }

  .footer-menu {
    display: none;
  }

  .main-footer {
    padding-top: 30px;
  }

  .contacts .cf-input {
    width: 100%;
  }

  .service-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .service-page .glide2 {
    width: 100%;
  }

  .phone-numbers {
    border-top: 1px solid #FFF;
    padding: 15px 0;
  }

  .explain-in {
    margin: 0;
  }

  .service-in-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .service-in-btn button {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

