@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon/icomoon.eot');
    src:  url('/fonts/icomoon/icomoon.eot') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('/fonts/iconmoon/icomoon.woff') format('woff'),
    url('/fonts/iconmoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e903";
}
.icon-menu:before {
    content: "\e900";
}
.icon-chevron-right1:before {
    content: "\e901";
}
.icon-chevron-left:before {
    content: "\e902";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram1:before {
    content: "\ea92";
}
.icon-telegram:before {
    content: "\ea95";
}
